.list {
    text-align: center;
    margin: 180px;
  }
  
  .animated-heading {
    font-size: 24px;
  }
  

  
  .second {
    margin-bottom: 10px;
  }



.navbar li {
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 0.2s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.animated-list li {
    opacity: 0;
    transform: translateX(-20px);
    animation: fade-in 0.5s ease-in-out forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.animated-heading {
    margin-bottom: 15px;
    opacity: 0;
    animation: fade-in 0.5s ease-in-out forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-list li {
    padding: 5px;
    margin-bottom: 10px;
    background-color: #ffae00;
    border-radius: 8px;
}
.animated-list li:hover {
    background-color: #1f1f21;
}

.git {
    margin-top: 30px;
    padding: 14px 34px;
    background: #fff;
    color: #1f1f21;
    border: 2px solid var(--main-color);
    font-size: 16px;
    border-radius: 80px;
    font-weight: 600;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
    display: inline-block;
  }
.git:hover {
    transform: translateY(-5px);
    background: transparent;
    color: var(--main-color);
  }

  .project-images {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.project-images img {
    width: 400px;
    height: 250px;
    margin: 0 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.project-images {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.project-images img {
    width: 400px;
    height: 250px;
    margin: 0 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-images {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.project-images img {
    width: 400px;
    height: 250px;
    margin: 0 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.cool{
    margin-top: 30px;
    padding: 14px 34px;
    background: #000000;
    color: #ffffff;
    border: 2px solid var(--main-color);
    font-size: 16px;
    border-radius: 10px;
    font-weight: 600;
    display: inline-block;
}